<main class='main' style='height: 160%;'>
  <div class='error'>
    <div class='error_title'>
      <h2 class='heading-secondary heading-secondary--error'>Uh oh! Something
        went wrong!
      </h2>
      <h2 class='error__emoji'>😢 🤯</h2>
    </div>
    <div class='error__msg'>There is no tour with that name.</div>
  </div>
</main>